# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# Remember to change the provider in prisma/schema.prisma file if you want to use a different database than MySQL

DATABASE_URL="mysql://username:password@localhost:3306/database"

# https://steamcommunity.com/dev/apikey
STEAM_API_KEY="YOUR_STEAM_API_KEY"

# https://developers.faceit.com/apps
FACEIT_API_KEY="YOUR_FACEIT_API_KEY"
