# https://steamcommunity.com/dev/apikey
STEAM_API_KEY="YOUR_STEAM_API_KEY"

# https://www.prisma.io/docs/orm/reference/connection-urls
# Remember to change the provider in prisma/schema.prisma file if you want to use a different database than MySQL
DATABASE_URL="mysql://username:password@localhost:3306/database"